<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理界面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link  href="static/css/bootstrap.min.css" rel="stylesheet">
	<link  href="static/css/admin.css" rel="stylesheet"></head>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <style type="text/css">
    	body{
	            font-size:14px;
	        }
    </style>
	
<body ng-app="starter" ng-controller = "StarterCtrl">
	<div class="row all">
		<div class="col-md-2 left">
			<span class="left-top-span">管理员界面</span>
			<div class="list-group">
				<a href="#" class="list-group-item" data="index">主页</a>
				<a href="#" class="list-group-item" data="note">心得体会
					<span class="caret"></span>
				</a>
				<ul class="left-list-hide">
					<li class="list-group-item" data="html">html</li>
					<li class="list-group-item" data="css">css</li>
					<li class="list-group-item" data="javascript">javascript</li>
					<li class="list-group-item" data="node">node</li>
					<div class="clear"></div>
				</ul>
				<a href="#" class="list-group-item" data="hobby">兴趣爱好
					<span class="caret"></span>
				</a>
				<ul class="left-list-hide">
					<li class="list-group-item" data="diary">日记</li>
					<li class="list-group-item" data="enjoy">欣赏</li>
					<li class="list-group-item" data="life">程序人生</li>
					<li class="list-group-item" data="quotations">经典语录</li>
					<div class="clear"></div>
				</ul>
				<a href="#" class="list-group-item" data="little">闲言碎语</a>
			</div>

			<div class="menu">
				<ul>
					<li><a href="/admin#!/add">添加</a></li>
					<li><a href="/admin#!/change">修改和删除</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-10 right" ng-view>
		</div>
	</div>
	<script type="text/javascript" src="static/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script src="/node_modules/angular/angular.js"></script>
  <script src="/node_modules/angular-route/angular-route.js"></script>


 <script src = "static/filejs/change.js"></script>

	<script type="text/javascript" src="static/filejs/admin.js"></script>

<script src = "static/filejs/add.js"></script>

</body>
</html>