<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<style>
	.input-group{
		width: 30%;
		margin: 20px auto;
	}
	.wrong{
		color: red;
	}
</style>
<body>
	<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">账&nbsp&nbsp号</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
</div>
<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">密&nbsp&nbsp码</span>
  <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
</div>
<div class="input-group">
<input type="submit" class="form-control" id="submit" value="登录" aria-describedby="sizing-addon2">

  <span class="wrong"></span>
</div>
</body>

<script src="static/js/jquery-1.11.1.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/filejs/login.js"></script>
<script>

	
</script>
</html>